<div id="logo-div">
  <p>It's your duty to choose your future correctly</p>
</div>

<div id="menu-div">
  <ul id="menu-list">
    <li routerLink="/" class="menu-item">მთავარი</li>
    <li routerLink="/ratings" class="menu-item">რეიტინგები</li>
    <li routerLink="/universities" class="menu-item">უნივერსიტეტების სრული სია</li>
    <li routerLink="/events" class="menu-item">აქტივობები</li>
    <li class="menu-item">გალერეა</li>
    <li class="menu-item">ხშირად დასმული კითხვები</li>
  </ul>
</div>
