#mainDiv {
  position: relative;
  width: 1000px;
  margin: auto;
}

#logoDiv{
  display: block;
  border: 1px solid green;

}

#menuList{
  margin: 2px 0 0 0;
}

.menuItem{
  margin: 0 5px 0 5px;
  cursor: pointer;
  display: inline;
  padding: 2px;
  border: 1px solid green;
  border-top: 2px solid white;
}

.menuItem:hover{
  background: gray;
}

#contentDiv{
  margin: 10px 0 0 0;
  position: relative;
}


#leftDiv{
  margin: 1px;
  float: left;
  display: inline-block;
  width: 200px;
  border: 1px solid green;
}
#middleDiv{
  margin: 1px;
  display: inline-block;
  width: 580px;
  border: 1px solid green;
}
#rightDiv{
  margin: 1px;
  float: right;
  display: inline-block;
  width: 200px;
  border: 1px solid green;
}


.ratingItem{
  text-align: left;
  margin-bottom: 5px;
}

#quickLinksDiv{
  margin: 5px;
  border: 1px solid green;
}

#searchDiv{
  padding: 5px;
  margin: 5px auto 5px auto;
  display: block;
  border: 1px solid green;
}

.newsImg{
  display: table-cell;
  vertical-align: middle;
}

.newsImg img{
  border-radius: 10px;
  height: 150px;
}

.newsInfo{
  padding-left: 10px;
  text-align: left;
  width: 60%;
  display: table-cell;
  vertical-align: middle;
}
.newsDescription{
  margin: 0;
  font-size: 14px;
}
.newsTitle{
  text-decoration: none;
  font-size: 18px;
}
.newsDate{
  font-size: 12px;
  margin-top:5px;
  margin-bottom: 0;
}

.newsItem{
  display: table;
  height: 160px;
  border: 1px solid green;
  border-radius: 10px;
  margin:5px;
}

.readMore{
  text-decoration: none;
}




