

#logo-div{
  display: block;
  border: 1px solid green;

}

#menu-list{
  margin: 2px 0 0 0;
}

.menu-item{
  margin: 0 5px 0 5px;
  cursor: pointer;
  display: inline;
  padding: 2px;
  border: 1px solid green;
  border-top: 2px solid white;
}

.menu-item:hover{
  background: gray;
}

#quick-links-div{
  margin: 5px;
  border: 1px solid green;
}

#search-div{
  padding: 5px;
  margin: 5px auto 5px auto;
  display: block;
  border: 1px solid green;
}






