<div id="mainDiv">
  <div id="logoDiv">
    <p>It's your duty to choose your future correctly</p>
  </div>

  <div id="menuDiv">
    <ul id="menuList">
      <li class="menuItem">Ratings</li>
      <li class="menuItem">Full List</li>
      <li class="menuItem">Events</li>
      <li class="menuItem">Gallery</li>
      <li class="menuItem">FAQ</li>
    </ul>
  </div>
  <div id="contentDiv">
    <div id="searchDiv">
      <span>University Search:</span>
      <select id="selectCategory">
        <option value="" disabled selected hidden>Study of interest</option>
        <option value="Technology">Technology</option>
        <option value="Medicine">Medicine</option>
        <option value="Law">Law</option>
        <option value="Art">Art</option>
      </select>
      <select id="selectUniversity">
        <option value="" disabled selected hidden>Desired University</option>
        <option value="Freeuni">Freeuni</option>
        <option value="Agruni">Agruni</option>
      </select>
      <button>GO</button>
      <button>Complex Search</button>
    </div>
    <div id="leftDiv">
      <h2>Top 10</h2>
      <ol id="ratingList">
        <li class="ratingItem">Free University</li>
        <li class="ratingItem">Agrarian University</li>
        <li class="ratingItem">Tbilisi State University</li>
        <li class="ratingItem">Georgian Technical University</li>
        <li class="ratingItem">Georgian University</li>
        <li class="ratingItem">Georgian American University</li>
        <li class="ratingItem">Tbilisi State Medical University</li>
        <li class="ratingItem">Black Sea University</li>
        <li class="ratingItem">New Vision</li>
        <li class="ratingItem">Sulkhan Kvernadze</li>
      </ol>
    </div>
    <div id="middleDiv">
      <h2>Educational News</h2>
      <div *ngFor="let newsItem of news">
        <p>{{newsItem.postTitle}}</p>
        <p>{{newsItem.postDescription}}</p>
        <p>{{newsItem.postDate}}</p>
        <p>{{newsItem.postImg}}</p>
      </div>
    </div>
    <div id="rightDiv">
      <app-signin></app-signin>
      <div id="quickLinksDiv">
        <h2>Quick Links</h2>
        <ul>
          <li>Where to Study?</li>
          <li>What to Study?</li>
        </ul>
      </div>
    </div>
  </div>
</div>

