#mainDiv {
  position: relative;
  width: 1000px;
  margin: auto;
}

#logoDiv{
  display: block;
  border: 1px solid green;

}

#menuList{
  margin: 2px 0 0 0;
}

.menuItem{
  margin: 0 30px 0 30px;
  cursor: pointer;
  display: inline;
  padding: 2px;
  border: 1px solid green;
  border-top: 2px solid white;
}

.menuItem:hover{
  background: gray;
}

#contentDiv{
  margin: 10px 0 0 0;
  position: relative;
}


#leftDiv{
  margin: 1px;
  float: left;
  display: inline-block;
  width: 200px;
  border: 1px solid green;
}
#middleDiv{
  margin: 1px;
  display: inline-block;
  width: 580px;
  border: 1px solid green;
}
#rightDiv{
  margin: 1px;
  float: right;
  display: inline-block;
  width: 200px;
  border: 1px solid green;
}


.ratingItem{
  text-align: left;
  margin-bottom: 5px;
}

#quickLinksDiv{
  margin: 5px;
  border: 1px solid green;
}

#searchDiv{
  padding: 5px;
  margin: 5px auto 5px auto;
  display: block;
  border: 1px solid green;
}





