<div id="main-div">
  <div id="top-div">
    <div id="banner-div">
      <img id="profile-cover"
           src="https://scontent.ftbs4-1.fna.fbcdn.net/v/t31.0-8/q85/c0.232.851.315/p851x315/13575846_1276513989060017_6739938764617466786_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEnn0dDi95mVB7gUnCZgGatcq7dPOigPOq-yG-r84AwAAXlZnzKZedDMID_uxaMaFc63-QQY7HVvSPRrq28g2JKrSgqYKOjdOWZ_wkCxAw-UQ&oh=5c2dd34965e39f6f2dff282d36b18459&oe=5B5A5116">
      <img id="profile-photo"
           src="https://scontent.ftbs4-1.fna.fbcdn.net/v/t1.0-1/c0.47.160.160/p160x160/13406995_1258704997507583_2395961232923612055_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeGHiTwEfaG3NShz9N717KPkmv_aD2kF6DblmibanHEOyveb4oY5S8cJHG-9OfKTl6vQY2EOeEMeyRW2phjJ45dRjanhzwafqB4-g9rtwLJLoA&oh=7381215c41f0c11b3d5016dd1a4e28f4&oe=5B9BCC9A">
    </div>
    <div id="menu-div">
      <ul id="user-menu-list">
        <li (click)="changeItem('favourites')" class="user-menu-item" [ngClass]="{'item-active': isFavourites()}">
          Favourites
        </li>
        <li (click)="changeItem('friends')" class="user-menu-item" [ngClass]="{'item-active': isFriends()}">Friends</li>
        <li (click)="changeItem('interests')" class="user-menu-item" [ngClass]="{'item-active': isInterests()}">
          Interests
        </li>
        <li (click)="changeItem('achievements')" class="user-menu-item" [ngClass]="{'item-active': isAchievements()}">
          Achievements
        </li>
        <li (click)="changeItem('profile')" class="user-menu-item" [ngClass]="{'item-active': isProfile()}">Profile</li>
      </ul>
    </div>
  </div>
  <div *ngIf="isInterests()">
    <app-interests></app-interests>
  </div>


</div>

