<div id="signInDiv" *ngIf="!isLoggedIn()">
  <button id="registerUni">რეგისტრაცია უნივერსიტეტისთვის</button>
  <button id="signInUni">ავტორიზაცია უნივერსიტეტისთვის</button>
  <button (click)="socialSignIn('facebook')" id="signInUser">ავტორიზაცია აბიტურიენტისთვის</button>
</div>

<div *ngIf="isLoggedIn()">
  <img id="userImage" src="{{getUser().image}}">
  <p id="userName">{{getUser().name}}</p>
  <button (click)="goToProfile()">ჩემი პროფილი</button>
  <button (click)="signOut()">გამოსვლა</button>
</div>

