#signInUni{
  width: 190px;
  margin: 5px;
}

#registerUni{
  width: 190px;
  margin: 5px;
}

#signInUser{
  width: 190px;
  margin: 5px;
}

#userImage{
  padding: 10px;
  border: 1px solid green;
  border-radius: 10px;
}
#userName{
  margin: 0;
  font-weight: bold;
}

.user-button{
  font-size: 16px;
  margin: 1%;
  width: 96%;
}
