<div id="main-div">
  <div class="main-header">
    <div id="header-top">
      <div class='header-bottom-left'>
        <img src="http://freeuni.edu.ge/sites/default/themes/freeuni/images/logo_freeuni_ka.png" class="header-img"
             title=""/>
      </div>

      <div class='header-bottom-right'>
        <div class="links">
          <a href="http://mail.freeuni.edu.ge">Mail</a>
          <a href="http://freeuni.edu.ge/">Contact</a>
          <div id="search-div">
            <input id="search" type="text" placeholder="Search...">
          </div>
        </div>
      </div>
    </div>


    <div id="menu-div">
      <ul class="menu-list">
        <li class="menu-item">ჩვენ შესახებ</li>
        <li class="menu-item">სიახლეები</li>
        <li class="menu-item">აბიტურიენტებისთვის</li>
        <li class="menu-item">ფაკულტეტები</li>
        <li class="menu-item">აქტივობები</li>
        <li class="menu-item">ხშირად დასმული კითხვები</li>
      </ul>
    </div>

  </div>

</div>
