<div id="content-div">
  <div class="container">
    <div class="col">
      <p>დაამატე ინტერესი</p>
    </div>

    <div class="col">
      <p>ჩემი ინტერესები</p>
    </div>
  </div>

  <div class="container">
    <div class="col">
      <ul class="interests-list">
        <li class="interest" *ngFor="let interest of getInterests()" (click)="addInterest(interest)">{{interest}}</li>
      </ul>
    </div>
    <div class="col">
      <ul class="interests-list">
        <li class="interest" *ngFor="let interest of getMyInterests()" (click)="removeInterest(interest)">{{interest}}</li>
      </ul>
    </div>
  </div>
</div>
