#content-div{
  margin: 10px;
}

.my-container{
  display: grid;
  grid-template-columns: 50% auto;
}

.my-col{
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ffc100;
  padding: .4em 1.3em;
}

.interests-list{
  text-align: left;
  padding: 0;
}
.interest{
  padding: 5px;
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.interest:hover{
  background: black;
  color: white;
}
