#faculties-div{
  padding-top: 10px;
  margin: auto auto auto auto;
  width: 800px;
}
.caption-table{
  margin: 5px 0 5px 0;
  width: 100%;
}
.subjects-table{
  table-layout: fixed;
  width: 100%;
}

.subjects-table th{
  word-wrap: break-word;
  font-size: 13px;
}

.subjects-table tr{
  height: 20px;
}

.subjects-table td{
  word-wrap: break-word;
  font-size: 12px;
}

.faculty-general{
  table-layout: fixed;
  width: 100%;
}

.faculty-general th{
  word-wrap: break-word;
  font-size: 14px;
}
.faculty-general td{
  word-wrap: break-word;
  font-size: 13px;
}

.faculty-item{
  margin-top: 15px;
  padding: 0 10px 10px 10px;
  border: 1px solid green;
  border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
