<div id="content-div">
  <div id="faculties-div">
    <div class="faculty-item grow" *ngFor="let faculty of this.faculties">
      <table class="faculty-general">
        <caption>
          <table class="caption-table">
            <tr>
              <th>პროგრამა:</th>
              <th>{{faculty.facultyNumber}}</th>
              <th>{{faculty.programName}}</th>
              <th>კვალიფიკაცია: {{faculty.qualification}}</th>
            </tr>
          </table>
        </caption>
        <tr>
          <th>აკრედიტებული</th>
          <th>სწავლების ენა</th>
          <th>დაფინანსება</th>
          <th>კრედიტების რაოდენობა</th>
          <th>წლიური გადასახადი</th>
          <th>ადგილების რაოდენობა</th>
        </tr>
        <tr>
          <td>{{faculty.accredited}}</td>
          <td>{{faculty.language}}</td>
          <td>{{faculty.financing}}</td>
          <td>{{faculty.credits}}</td>
          <td>{{faculty.annualFee}}</td>
          <td>{{faculty.numPlaces}}</td>
        </tr>
      </table>
      <table class="subjects-table">
        <caption>საგნები</caption>
        <tr>
          <th colspan="2"></th>
          <th *ngFor="let subject of faculty.facultySubjects">{{subject.name}}</th>
        </tr>
        <tr>
          <td colspan="2">კოეფიციენტები</td>
          <td *ngFor="let subject of faculty.facultySubjects">{{subject.quotient}}</td>
        </tr>
        <tr>
          <td colspan="2">ადგილების ქვოტა</td>
          <td *ngFor="let subject of faculty.facultySubjects">{{subject.numPlaces}}</td>
        </tr>
        <tr>
          <td colspan="2">ზღვარი</td>
          <td *ngFor="let subject of faculty.facultySubjects">{{subject.barrier}}</td>
        </tr>
        <tr>
          <td colspan="2">შეზღუდვები</td>
          <td *ngFor="let subject of faculty.facultySubjects">{{subject.restriction}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
