.event-image{
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.event-info-table{
  width: 100%;
}

.event-date{
  word-wrap: break-spaces;
}

.event-item{
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px;
  width: 700px;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

#create-event{
  background: grey;
  position: absolute;
  right: 15px;
  left: 15px;
  margin: 10px;
  border: solid 1px green;
  z-index: 200;
}

#create-news textarea{

  resize: vertical;
}

#middle-div{
  width: 700px;
  position: relative;
}

#add-event-button{
  margin: 5px;
}

