<h1>რეიტინგები</h1>
<hr>
<div>
    <iframe id="ratings-frame" src="https://e.infogram.com/c4d451c4-78c8-4f88-b829-e428549550fc?src=embed"
            title="უნივერსიტეტების რეიტინგები 2016" width="900" height="970" scrolling="no" frameborder="0"
            allowfullscreen="allowfullscreen"></iframe>
</div>