{{#with university}}
<h1>{{this.name}}</h1>
<div id="logo-div">
    <img id="logo" src="{{this.logo}}">
</div>
<hr>
<ul class="menu-list">
    <li class="menu-item">
        <a id="news-menu" class="item">
            <p>სიახლეები</p>
        </a>
    </li>
    <li class="menu-item">
        <a id="faculties-menu" class="item">
            <p>ფაკულტეტები</p>
        </a>
    </li>
    <li class="menu-item">
        <a id="events-menu" class="item">
            <p>აქტივობები</p>
        </a>
    </li>
    <li class="menu-item">
        <a id="about-menu" class="item">
            <p>ჩვენს შესახებ</p>
        </a>
    </li>
    <li class="menu-item">
        <a id="reviews-menu" class="item">
            <p>შეფასებები</p>
        </a>
    </li>
    <li class="menu-item">
        <a id="faq-menu" class="item">
            <p>კითხვა-პასუხი</p>
        </a>
    </li>
</ul>
{{/with}}
<div id="university-profile" class=""></div>