/*faq*/
.question-list ul{
    list-style-type: none;
    float: left;
    text-align: justify;
}

.question-list li{
    padding-top: 20px;
    display: block;
}

.question-post p{
    margin: 3px 0px 0px 0px;
}


/*university pagew*/
#logo-div{

}

#logo{
    height: 100px;
}