
.university-list-item {
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    height: 250px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid green;
    text-align: center;

    z-index: 3;

}

.university-list-item a {
    text-decoration: none;
    color: blue;
}

#university-item-list {
    margin: auto;
    display: inline-block;
    padding: 0;
    text-align: center;
}

#university-items {
    margin-top: 20px;
}

.university-list-item{
    box-shadow: 0 0 1em 4px #ccc;
    border-radius: 10px;
}
