{{#with university}}
<h1 class="">{{this.name}}</h1>
<div id="logo-div">
    <img id="logo" src="{{this.logo}}">
</div>
<hr>
<ul class="menu-list">
    <li class="menu-item">
        <a id="news-menu" class="item">
            სიახლეები
        </a>
    </li>
    <li class="menu-item">
        <a id="faculties-menu" class="item">
            ფაკულტეტები
        </a>
    </li>
    <li class="menu-item">
        <a id="events-menu" class="item">
            აქტივობები
        </a>
    </li>
    <li class="menu-item">
        <a id="about-menu" class="item">
            ჩვენს შესახებ
        </a>
    </li>
    <li class="menu-item">
        <a id="faq-menu" class="item">
            ხშირად დასმული კითხვები
        </a>
    </li>
</ul>
{{/with}}
<div id="university-profile" class=""></div>