/* You can add global styles to this file, and also import other style files */
body {
  text-align: center;
}

h2 {
  margin: 0;
}


#main-div {
  position: relative;
  width: 1000px;
  margin: auto;
}

#content-div{
  margin: 10px 0 0 0;
  position: relative;
}

#left-div{
  margin: 1px;
  float: left;
  display: inline-block;
  width: 200px;
  border: 1px solid #ffc100;
  border-radius: 10px;
}
#middle-div{
  margin: 1px;
  display: inline-block;
  width: 580px;
  border: 1px solid #ffc100;
  border-radius: 10px;
}
#right-div{
  margin: 1px;
  float: right;
  display: inline-block;
  width: 200px;
  border: 1px solid #ffc100;
  border-radius: 10px;
}


.news-img{
  display: table-cell;
  vertical-align: middle;
}

.news-img img{
  border-radius: 10px;
  height: 150px;
  max-width: 225px;
}

.news-info{
  padding-left: 10px;
  text-align: left;
  width: 60%;
  display: table-cell;
  vertical-align: middle;
}
.newsDescription{
  margin: 0;
  font-size: 14px;
}
.news-title{
  text-decoration: none;
  font-size: 18px;
}
.news-date{
  font-size: 12px;
  margin-top:5px;
  margin-bottom: 0;
}

.news-item{
  display: table;
  height: 160px;
  border: 1px solid #ffc100;
  border-radius: 10px;
  margin:1%;
  width: 98%;
}

.readMore{
  text-decoration: none;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

