<div id="content-div">
  <form ngNativeValidate>
    <input class="inp" name="name" type="text" placeholder="სახელი" [(ngModel)]="name" required>
    <input class="inp" name="address" type="text" placeholder="მისამართი" [(ngModel)]="address" required>
    <input class="inp" name="phone" type="tel" placeholder="ტელეფონი" [(ngModel)]="phone" required>
    <input class="inp" name="webAddress" type="url" placeholder="საიტი" [(ngModel)]="webAddress" required>
    <input class="inp" name="email" type="email" placeholder="ელ.ფოსტა" [(ngModel)]="email" required>
    <input type="submit" value="დასრულება" (click)="addUniversity()">
    <input type="submit" value="გაუქმება" routerLink="/">
  </form>
</div>
