<div id="content-div">

  <div id="middle-div" [@faq]="faq.length" [@creation]="showCreatePanel">
    <h2>ხშირად დასმული კითხვები</h2>
    <button id="add-faq-button" class="btn btn-primary" (click)="changeState()">შეკითხვის დამატება</button>
    <div id="create-faq" *ngIf="showCreatePanel">
      <form name="form" (ngSubmit)="f.form.valid && createFaq()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !question.valid }">
          <label for="question">შეკითხვა</label>
          <textarea type="text" class="form-control" name="question" id="question" [(ngModel)]="model.question"
                    #question="ngModel" required></textarea>
          <div *ngIf="f.submitted && !question.valid" class="help-block">შეკითხვის შეყვანა აუცილებელია</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !answer.valid }">
          <label for="answer">პასუხი</label>
          <textarea type="text" id="answer" class="form-control" name="answer" [(ngModel)]="model.answer"
                    #answer="ngModel" required></textarea>
          <div *ngIf="f.submitted && !answer.valid" class="help-block">პასუხის შეყვანა აუცილებელია</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">დამატება</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <button (click)="changeState()" class="btn btn-link">გაუქმება</button>
        </div>
      </form>
    </div>
    <div class="question-list">
      <ul>
        <li class="question-post" *ngFor="let faqElement of this.faq">
          <div><span id="delete-faq" (click)="deleteFaq(faqElement)" class="btn btn-primary">წაშლა</span></div>
          <b class="question">{{faqElement.question}}</b>
          <p class="answer">{{faqElement.answer}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
