#create-news{
  background: grey;
  position: absolute;
  right: 15px;
  left: 15px;
  margin: 10px;
  border: solid 1px #ffc100;
  z-index: 200;
}

#create-news textarea{

  resize: vertical;
}

#middle-div{
  position: relative;
}

#add-news-button{
  margin: 5px;
}

#delete-news{
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}
