<div id="content-div">

  <div id="left-div">
    <h2>ტოპ სიახლეები</h2>
    <ol id="important-news">
      <li class="important-item">1 სიახლე</li>
      <li class="important-item">2 სიახლე</li>
      <li class="important-item">3 სიახლე</li>
      <li class="important-item">4 სიახლე</li>
      <li class="important-item">5 სიახლე</li>
      <li class="important-item">6 სიახლე</li>
    </ol>
  </div>

  <div id="middle-div">
    <h2>Educational News</h2>
    <div *ngFor="let newsItem of this.news" class="news-item">
      <div class="news-img">
        <img src="{{newsItem.img}}">
      </div>
      <div class="news-info">
        <p class="news-date">{{newsItem.date | date}}</p>
        <a class="news-title" href="http://mes.gov.ge/content.php?id=8396&lang=geo">
          {{newsItem.title}}
        </a>
        <p class="newsDescription">{{newsItem.description}}</p>
      </div>
    </div>
  </div>

  <div id="right-div">
    <div class="Favorites-button">


    </div>
  </div>

</div>
