.university-list-item{
  margin: 2px;
  display: inline-block;
  height: 250px;
  width: 180px;
  border-radius: 10px;
  border: 1px solid green;
  text-align: center;
}

#university-item-list{
  margin: auto;
  display: inline-block;
  padding: 0;
  text-align: center;
}

#university-items{
  margin-top: 20px;
}

